<div class="contenedorMayor">
    <h1>Registro</h1>
    <h2>Seleccione que desea registrar</h2>
    <div class="row row1">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="cartaAlta" style="background-image: url('../../../assets/img/medico.png');" (click)="redirigirARegistroEspecialista()">
                <h3>Especialista</h3>
            </div>
            
            <div class="cartaAlta" style="background-image: url('../../../assets/img/paciente.png');" (click)="redirigirARegistroPaciente()"> 
                <h3>Paciente</h3>
            </div>
        </div> 
        <div class="col-4"></div>
    </div>
</div>