<div class="h-100 d-flex justify-content-center align-items-center text-white bg-dark rounded-3">
    <div class="text-center">
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <td>Nombre</td><td>Capital</td><td>Idioma</td><td>Bandera</td>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr>
                        <td>{{pais.nombre}}</td><td>{{pais.capital}}</td><td>{{pais.lenguaje}}</td><td><img src="{{pais.bandera}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

