<div class="contenedor-mayor">
    <div class="row row1">
        <div class="col-2 columna"></div>
        <div class="col-8 columna d-flex justify-content-between">
            <button (click)="redirigirARegistroPaciente()" >Alta Paciente</button>
            <button (click) ="redirigirARegistroEspecialista()" >Alta Especialista</button>
            <button (click) ="redirigirARegistroAdministrador()" >Alta Administrador</button>
        </div> 
        <div class="col-2 columna"></div> 
    </div>
</div>
