<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="bienvenida">Bienvenida</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="login" *ngIf="!flagEstaLogueado">Ingreso</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="registro" *ngIf="!flagEstaLogueado">Registrarse</a>
              </li>

          </ul>
      </div>
      <ul *ngIf="flagEstaLogueado" class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="flagEstaLogueado">
              <a class="nav-link">{{nombre}}</a>
          </li>
          <li class="nav-item" *ngIf="flagEstaLogueado">
            <a class="nav-link" (click)="salir()">Cerrar Sesión</a>
        </li>
      </ul>
  </div>
</nav>
