@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.navbar{
    height: 7vh;
    background-color:#272727;
}

a {
    font-family: 'Nunito', sans-serif;
    color: white;
}
